@charset "UTF-8";

/* typical Device Breakpoints 
-----------------------------------
Pequenas telas: ate 600px
Celular: 600px a 768px
Tablet: 769 a 992px
Desktop: 992px a 1200px
Grandes telas: acima de 1200px
*/

@media screen and (min-width:768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}